table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: white;
  color: black;
  line-height: 30px;;
  font-weight: 800;
  font-size: 20px;
  border: 1px solid black;
}

td {
  padding: 10px 0px;
  color: black;
  font-weight: 600;
  border: 1px solid black;
  text-transform: upp;
}

.par {
  background: rgb(176, 105, 199)
}

.impar {
  background: rgb(241, 106, 208);
}